.noscrollbars::-webkit-scrollbar { 
    display: none; 
}
.noscrollbars { -ms-overflow-style: none; }

/* Because for some reason there's a border radius
/ on a nav bar in bootstrap
-------------------------------------------------- */
.navbar{
  border-radius: 0;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #f5f5f5;
}

footer .text-muted {
  margin: 20px 0;
}

@media (max-width: 1000px){
  body{
    margin-bottom: 200px;
  }
}

@media (max-width: 768px){
  body{
    margin-bottom: 300px;
  }
}
