body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
a{text-decoration:none;}/* Normalize all links */
nav{
	height:auto;
	overflow:hidden;
	z-index:0;
	position:relative;
}
a.nav-item, a.nav-logo{
	display:inline-block;
	height:50px;
	line-height:50px;
	font-size:2em;
	margin:0;
	padding:20px 20px;

}
a.nav-item{
	transition:background-color 0.5s;
}
a.nav-logo{
	transition: width 1s;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	-ms-transition: width 1s;
}
div.nav-right{
	float:right;
}

div.box{
	margin-top:5px;
	margin-bottom:10px;
	padding-bottom:5px;
	margin:1% 1%;
	width:100%;
}
div.box-half{
	width:48%;
	float:left;
	margin:1% 1%;
}

.container{
	width:90%;
	margin:0 auto;
	display:block;
}
div.container-head{
	text-align:center;  
	padding:2px 0;
	height:33px;
	margin-bottom:5px;
	padding:10px 0;
}
a.title{
	font-size:1.5em;
	display:block;
	margin:0 auto;
	text-transform: capitalize;
}
.tag-online{
	padding:0 5px;
	color:white;
	font-size:0.8em;
	border-radius: 2px;
}
.tag-offline{
	padding:0 5px;
	color:white;
	font-size:0.8em;
	border-radius: 2px;
}

/* Mobile */
@media (max-width:800px) {
	.no-mobile{
		display:none;
	}
	div.container, div.box-half{
		width:100%;
	}
	div.box-half, div.box{
		margin-left:0;
		margin-right:0;
		border-right: 0 !important;
		border-left: 0 !important;
	}
	table.table{
		-webkit-border-horizontal-spacing: 20px;
		-o-border-horizontal-spacing: 20px;
		-ms-border-horizontal-spacing: 20px;
		border-horizontal-spacing: 20px;
	}
	nav{
		height:auto;
		overflow:hidden;
		z-index:0;
		position:relative;
		max-height:90px;
		transition:max-height 1s;
		padding:0;
	}
	nav:hover{
		max-height:1000px;
	}
	nav a.nav-logo{
		width: 100%;
	}
	nav a.nav-item{
		display:block;
		width:100%;
		float:left;
		margin:4px 0px;
	}
	div.nav-right{
		float:none;
		clear:both;
	}
}
/* Not mobile */
@media (min-width:800px) {

}

img.player-head-player_page{
	padding-top:5px;
}
.center{
	text-align:center;
	margin:0 auto;
}
img{
	vertical-align:middle;
}

/* Data Tabels */
.dataTables_length, .dataTables_info{
	margin-left:5px;
}
.dataTables_filter{
	margin-right:5px;
}
table.noborder{
	border:0 !important;
}

/*Slide in animation */
@-webkit-keyframes slide-in {
  from {-webkit-transform:translate(0px, -1000px)}
  to   {-webkit-transform:translate(0px, 0px)}
}

@-moz-keyframes slide-in {
  from {-moz-transform:translate(0px, -1000px)}
  to   {-moz-transform:translate(0px, 0px)}
}

@-ms-keyframes slide-in {
  from {-ms-transform:translate(0px, -1000px)}
  to   {-ms-transform:translate(0px, 0px)}
}

@-o-keyframes slide-in {
  from {-o-transform:translate(0px, -1000px)}
  to   {-o-transform:translate(0px, 0px)}
}

@keyframes slide-in {
  from {transform:translate(0px, -1000px)}
  to   {transform:translate(0px, 0px)}
}
.info{
	width:23%;
	text-align: center;
	display:inline;
	float:left;
	margin:1%;
	height:5em;
}
.info .info-title{
	font-size: 1.5em;
}
.info-wrap{
	width:100%;
	height:auto;
}
