RewriteEngine On

RewriteRule ^admin/$ admin/ [L]
RewriteRule ^install/$ install/ [L]
RewriteRule ^assets/$ assets/ [L]

RewriteRule ^([^/]*)/$ /?page=$1 [L]
RewriteRule ^([^/]*)/([^/]*)/$ /?page=$1&id=$2 [L]

