Options +FollowSymLinks
RewriteEngine on

RewriteRule css/(.*).css$ css/$1.css
RewriteRule ajax/ ajax/call.php
RewriteRule images/blocks/(.*).png images/blocks/$1.png
RewriteRule (.*)/(.*)/$ index.php?page=$1&player=$2	[L,QSA]
RewriteRule (.*)/$ index.php?page=$1 [L,QSA]


