<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Search:</span>
    <input type="text" class="form-control" placeholder="Username" id="search">
</div>
<br>
<div class="players row"></div>
<nav>
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
        <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

<script>
    var loadAllPlayers = true;
</script>