{{ dieifnotid }}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ playername }} {{ query:playerOnline }}</h3>
            </div>
            <div class="panel-body">
                {{ playerstats }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Player name history</h3>
            </div>
            <div class="panel-body">
                {{ nameHistory:playernames }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Block stats</h3>
            </div>
            <div class="panel-body">
                {{ lolmewnStats:playerBlocks }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PvP kills</h3>
            </div>
            <div class="panel-body">
                {{ lolmewnStats:playerPvPkills }}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PvP deaths</h3>
            </div>
            <div class="panel-body">
                {{ lolmewnStats:playerPvP }}
            </div>
        </div>
    </div>
</div>