<div class="players row"></div>
<script>
    $.ajax('/ajax/?call=allPlayers').success(function (data) {
        console.log(data.info);
        var url = data.info.url;
        for (var i in data.data) {
            if (data.data.hasOwnProperty(i)) {
                $('.players').append('<blockquote class="col-sm-3"><a href="' + url.replace('{UUID}', data.data[i][0]).replace('{NAME}', data.data[i][1]) + '"><img src="http://cravatar.eu/avatar/' + data.data[i][0] + '"> ' + data.data[i][1] + '</a></blockquote>');
            }
        }
    });
</script>

