<div class="row quick-info">
    <div class="col-md-3">
        <div class="well panel">
            <h1><i class="fa fa-group fa-lg"></i></h1>

            <h3>{{ module:onlineCount }} online</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well panel">
            <h1><i class="fa fa-pencil fa-lg"></i></h1>

            <h3>{{ module:playerCount }} tracked</h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
           <div class="panel-body">
               {{ module:onlinePlayers }}
           </div>
        </div>
    </div>
</div>
{{ module:topPlayers }}