{{ dieifnotid }}
<div class="page-header">
    <h1>
        {{ playername }}
        {{ query:playerOnline }}
    </h1>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="http://cravatar.eu/3d/{{ playeruuid }}/800" alt="" style="width:100%; max-width:300px;">
        <br><br>
        {{ lolmewnStats:archenemy }}
    </div>
    <div class="col-md-9">
        {{ lolmewnStats:playerStats }}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Player name history</h3>
            </div>
            <div class="panel-body">
                {{ nameHistory:playernames }}
            </div>
        </div>
    </div>
</div>
<h2>Block Stats</h2>
{{ lolmewnStats:playerBlocks }}
<h2>McMMO Stats</h2>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h3>Xp</h3>
                {{ mcmmo:playerXp }}
            </div>
            <div class="col-md-6">
                <h3>Skills</h3>
                {{ mcmmo:playerSkills }}
            </div>
        </div>
    </div>
</div>